<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dodawanie osoby do bazy</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
</head>
    
    <body >

        <header>
            <nav class="navbar static-top navbar-expand-lg navbar-light bg-info ">
              <a class="navbar-brand" href="#"><img src="https://img.icons8.com/cotton/2x/facial-mask.png"  width="35" height="35" 
                class="d-inline-block mr-1 align-bottom" alt=""> Salon.pl</a>
                <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                    <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
                        <div class="navbar-nav ">
                        <a class="nav-item nav-link " href="/">Strona główna <span class="sr-only">(current)</span></a>
                        <a class="nav-item nav-link"  href="/pracownik/printallpracownik">Pracownik</a>
                        <a class="nav-item nav-link "  href="#">Gabinet</a>                       
                        <a class="nav-item nav-link" href="#">Wyposażenie</a>
                        <a class="nav-item nav-link" href="#">Gabinet_zabieg</a>
                        <a class="nav-item nav-link"  href="#">Zabieg</a>
                        <a class="nav-item nav-link"  href="/rezerwacja/printallrezerwacja">Rezerwacja</a>
                        <a class="nav-item nav-link"  href="/kient/printallklient">Klient</a>  
                        <a class="nav-item nav-link"  href="/konto/printallkonto">Konto</a>
                        
                        <form method="POST" th:action="@{/logout}">
                        <input class="btn btn-primary text-white col-lg-12" type="submit" role="submit" value="Wyloguj" />
                        </form>
                        
                        </div>
                    </div>
            </nav>
        </header>
    </body>
    
    <main>
        <div class="container mt-5 mb-2">                
            <h4>   <strong th:text="${header}"/>  </h4>
            <a class="btn btn-primary text-white" href="/rezerwacja/addrezerwacja" role="button">Dodaj rezerwację</a>
                        
        </div>
           

        <div class="container">
            <div class="table-responsive">
                <table class="table table-bordered">          
                    <thead>
                        <tr  class="active">
                            <th>Id</th>
                            <th>Id_klienta</th> 
                            <th>Id_pracownika</th> 
                            <th>Id_gabinet-zabieg</th>  
                            <th>Data</th> 
                            <th>Opcje</th>
                            
                        </tr>
                        
                    </thead>
                    <tbody>                       
                        <tr th:each ="rezerwacja : ${rezerwacjaList}" >               
                            <td> <b  th:utext="${rezerwacja.id}">...</b> </td>
                             <td > <b  th:text="${rezerwacja.klient.id}" >...</b> </td>
                             <td > <b    th:each ="pracownik : ${rezerwacja.pracownik}" th:text="${pracownik.id}">...</b> </td>
                             <td > <b    th:each ="gabinetZabieg : ${rezerwacja.gabinetZabieg}" th:text="${gabinetZabieg.id}">...</b> </td>
                            <td > <b  th:text="${rezerwacja.dataGodzinaRezerwacji}" >...</b> </td>
                            <td><a class="btn btn-primary" th:href="@{/rezerwacja/printallrezerwacja/delete/} + ${rezerwacja.id}" role="button">Usuń</a>
                            <a class="btn btn-primary" th:href="@{/rezerwacja/printallrezerwacja/edycja/} + ${rezerwacja.id}" role="button">Edytuj</a></td>
                            
                        </tr>
                    </tbody>          
                </table>    
            </div>
            
            
            
        </div>


    </main>
</html>